absl-py==0.15.0
aiosignal==1.3.1
alabaster==0.7.12
alembic
anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project==0.8.3
argh==0.26.2
argon2-cffi
asn1crypto
astroid
astropy==4.0.2
asttokens==3.0.0
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
attrs
autopep8
Babel
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
batchspawner==1.1.0
beautifulsoup4
bitarray
bkcharts==0.2
bleach
blinker==1.4
bokeh
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==5.5.2
certifi
certipy==0.1.3
cffi
chardet==3.0.4
choreographer==1.0.9
clang==5.0
click==7.1.2
cloudpickle
clyent==1.2.2
colorama
conda==4.12.0
conda-build==3.20.5
conda-package-handling
conda-verify==3.4.2
contextlib2==0.6.0.post1
cryptography
cycler==0.10.0
Cython
cytoolz==0.11.0
dask
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch
distributed
docopt==0.6.2
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
executing==2.2.0
fastcache==1.1.0
fastjsonschema==2.21.2
filelock==3.0.12
flake8
Flask==1.1.2
flatbuffers==1.12
frozenlist==1.5.0
fsspec
future==0.18.2
gast==0.4.0
gevent
glob2==0.7
gmpy2==2.0.8
google-auth==2.40.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet
grpcio==1.70.0
h5py==3.1.0
HeapDict==1.0.1
html5lib
idna
imageio
imagesize==1.2.0
importlib-metadata==8.5.0
iniconfig
intervaltree
ipykernel
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets
isort
itsdangerous==1.1.0
jdcal==1.4.1
jedi
jeepney
jinja2==3.1.6
joblib==1.4.2
json5==0.9.5
jsonschema
jupyter==1.0.0
jupyter-client
jupyter-console
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==5.8.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator
jupyter-telemetry
jupyterhub
jupyterlab==2.2.6
jupyterlab-pygments
jupyterlab-server
jupyterlab-slurm==2.0.0
kaleido==0.2.1
keras==2.13.1
Keras-Preprocessing==1.1.2
keyring
kiwisolver
lazy-object-proxy==1.4.3
libarchive-c==2.9
libclang==18.1.1
llvmlite==0.34.0
locket==0.2.0
logistro==1.1.0
lxml
Mako
Markdown==3.7
MarkupSafe==2.1.5
matplotlib
matplotlib-inline==0.1.7
mccabe==0.6.1
mistune==3.1.3
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
narwhals==1.40.0
navigator-updater==0.2.1
nbclient
nbconvert==7.16.6
nbformat==5.10.4
nbzip==0.1.0
nest-asyncio
networkx
nltk
nose==1.3.7
notebook
numba
numexpr==2.7.1
numpy==1.19.5
numpydoc
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.9.41
nvidia-nvtx-cu12==12.1.105
oauthenticator
oauthlib==3.0.1
olefile==0.46
onnx==1.17.0
openpyxl
opt-einsum==3.3.0
orjson==3.10.15
packaging==20.4
pamela==1.0.0
pandas
pandocfilters
parso==0.7.0
partd==1.1.0
path
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow
pipreqs==0.5.0
pkginfo==1.6.1
platformdirs==4.3.6
plotly==6.1.1
pluggy==0.13.1
ply==3.11
prometheus-client==0.8.0
prompt-toolkit==3.0.51
protobuf==3.20.3
psutil
ptyprocess==0.6.0
pure-eval==0.2.3
py
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycodestyle==2.6.0
pycosat==0.6.3
pycparser
pycurl==7.43.0.6
pydocstyle
pyflakes==2.2.0
Pygments
PyJWT
pylint
pyodbc===4.0.0-unsupported
pyOpenSSL
pyparsing==2.4.7
pypi==2.1
pyrsistent
PySocks==1.7.1
pytest==0.0.0
pytest-asyncio
python-dateutil==2.8.1
python-editor==1.0.4
python-json-logger
python-jsonrpc-server
python-language-server
pytz==2020.1
PyWavelets
pyxdg
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtAwesome
qtconsole
QtPy==1.9.0
ray==2.10.0
regex
requests
requests-oauthlib==2.0.0
rope
rsa==4.9.1
Rtree==0.9.4
ruamel-yaml==0.15.87
ruamel.yaml.clib
scikit-image==0.17.2
scikit-learn
scipy
seaborn
SecretStorage==3.1.2
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.20.1
singledispatch
sip==4.19.13
six
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport
spyder
spyder-kernels
SQLAlchemy
stack-data==0.6.3
statsmodels
sympy
tables==3.6.1
tblib
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.6.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
tf2onnx==1.16.1
threadpoolctl
tifffile==2020.10.1
toml
toolz
torch==2.4.1
torchaudio==0.9.1
torchvision==0.2.0
tornado==6.0.4
tqdm
traitlets
triton==3.0.0
typing-extensions==4.12.2
ujson
unicodecsv==0.14.1
urllib3
watchdog
wcwidth
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapspawner==1.0.0
wrapt==1.12.1
wurlitzer
xlrd==1.2.0
XlsxWriter
xlwt==1.3.0
xmltodict==0.12.0
yapf
yarg==0.1.9
zict==2.0.0
zipp==3.20.2
zope.event==4.5.0
zope.interface
